/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: 1440px;
  background-color: #000028;
  background-image: url('../images/cover-image-dark.png');
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  width: 1024px;
  height: 100vh;
  display: grid;
  min-height: 768px;
  margin-block-end: 60px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
}

.main {
  display: grid;
}

.text-blocks__general-rules {
  font-size: var(--text-blocks-font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-accent);
}

/*----- Секция 1 -----*/
.grid__main-1 {
  display: grid;
  grid-template-columns: 315px minmax(315px, 650px);
  grid-template-rows: repeat(2, 1fr);
  /* width: 1024px; */
  /* height: 508px; */
  padding: 0 0 0 20px;
  column-gap: 20px;
  row-gap: 20px;
  margin-block-end: 100px;
}

.main__section-h2-title {
  /* Заголовок в пустом блоке. Высота блока в макете 47px  */
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
  color: var(--h2-color);
  letter-spacing: 0em;
  text-align: left;
  background-color: rgba(255, 165, 0, 0.2);
}

.main__section_text-block {
  /* Обертка для текстового блока */
  display: grid;
  grid-template-rows: fit-content;
  row-gap: 10px;
}

.main__section_h3-title {
  /* Заголовок h3 в текстовом блоке. Высота блока в макете 23px  */
  display: grid;
  color: var(--h3-color);
  background-color: var(--text-blocks-background-color);
  letter-spacing: 0em;
  text-align: left;
}

.main__section_subtitle {
  /* подзаголовок в текстовом блоке. Высота блока в макете 23px */
  color: #000028;
  font-size: var(--text-blocks-font-size);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-accent);
  letter-spacing: 0em;
  text-align: left;
}

.main__section-paragraph {
  /* стили параграфа и текста в параграфе. */
  display: grid;
  color: var(--text-color);
  font-size: var(--text-blocks-font-size);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-accent);
  letter-spacing: 0em;
  text-align: left;
  background-color: rgba(255, 165, 0, 0.2);
}

/*----- Секция 2 -----*/

.footer {
  width: 1024px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.title-footer {
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: left;
  width: 471px;
  height: 130px;
  text-transform: lowercase;
  color: #db00ff;
  text-shadow: 2px 2px 0 var(--accent-color);
}
