/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: 1440px;
  background-color: #000028;
  background-image: url('../images/cover-image-dark.png');
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  width: 1024px;
  height: 768px;
}

.decorated-zone {
}
