/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: 1440px;
  background-color: #000028;
  background-image: url('../images/cover-image-dark.png');
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  width: 1024px;
  height: 100vh;
  display: grid;
  min-height: 768px;
  margin-block-end: 60px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
}

.main {
  display: grid;
}

.text-blocks__general-rules {
  font-size: var(--text-blocks-font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-accent);
}

/*----- SECTION-MAIN-1  -----*/
/* (СЕТКА-1) */
.grid__main-1 {
  display: grid;
  grid-template-columns: 315px minmax(315px, 650px);
  grid-template-rows: repeat(2, 1fr);
  /* width: 1024px; */
  /* height: 508px; */
  padding: 0 0 0 20px;
  column-gap: 20px;
  row-gap: 20px;
  margin-block-end: 80px;
}

.main__section-h2-title {
  /* Заголовок в пустом блоке. Высота блока в макете 47px  */
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
  color: var(--h2-color);
  letter-spacing: 0em;
  text-align: left;
  background-color: rgba(255, 165, 0, 0.2);
}

.h2__mod {
  /* конфигурация для h2 третьей секции в MAIN */
  display: grid;
  grid-row-start: 1;
  grid-row-end: 6;
}

.main__section_text-block {
  /* Обертка для текстового блока */
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 10px;
}

.topic {
  /* Заголовок h3 в текстовом блоке. Высота блока в макете 23px  */
  display: grid;
  color: var(--topic-color);
  background-color: var(--text-blocks-background-color);
  /* letter-spacing: 0em; */
  justify-items: start;
}

.topic_mod {
  font-weight: var(--font-weight-normal);
}

.margin-block-end-10px {
  margin-block-end: 10px;
}

.main__section-paragraph {
  /* стили параграфа и текста в параграфе. */
  display: grid;
  color: var(--text-color);
  font-size: var(--text-blocks-font-size);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-accent);
  letter-spacing: 0em;
  text-align: left;
  background-color: rgba(255, 165, 0, 0.2);
  justify-items: start;
  align-items: start;
}

/*----- SECTION-MAIN-2 (СЕТКА 2) -----*/
.grid_main-2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(236px, 315px));
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0 0 0 20px;
  margin-block-end: 80px;
}

/* Заголовок */
.block_size_big {
  background-color: rgba(255, 0, 0, 0.2);
  grid-column-start: 1;
  grid-column-end: 4;
  color: var(--h2-color);
  grid-template-rows: auto;
}

.title-block_size_big {
  width: 315px;
  background-color: rgba(255, 0, 0, 0.2);
}

/*----- SECTION-MAIN-3 -----*/
/* (СЕТКА-1) */
.grid__main-3 {
  display: grid;
  grid-template-columns: 315px minmax(315px, 650px);
  grid-template-rows: repeat(6, auto);
  /* width: 1024px; */
  /* height: 508px; */
  padding: 0 0 0 20px;
  column-gap: 20px;
  row-gap: 20px;
  margin-block-end: 80px;
}

/*----- Секция 2 -----*/

.footer {
  width: 1024px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.title-footer {
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: left;
  width: 471px;
  height: 130px;
  text-transform: lowercase;
  color: #db00ff;
  text-shadow: 2px 2px 0 var(--accent-color);
}
