/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-decor: #ff0070;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --text-color: #f1b2ce;
  --text-blocks-font-size: 18px;
  --line-height-text-blocks: 23.4px;
  --topic-color: #000028;
  --accent-color: #ff0070; /* переменная для тени заголовка в шапке и в подвале */
}
