.title {
  font-size: clamp(1.25rem, 0.9426rem + 1.3115vw, 2rem);
  font-weight: 400;
  line-height: normal;
  padding-top: 82px;
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 58px;
  height: 58px;
  background-image: url('https://svgshare.com/i/wQf.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.card {
  background-color: gainsboro;
}

.text {
  font-size: 15px;
}

@media (max-width: 767px) {
  .card {
    padding: 30px;
  }

  .title {
    font-size: 20px;
    padding-top: 0;
  }

  .title::before {
    display: none;
  }
}
